body.main_background {
    display: flex;
    background-image: url("birds.JPG");
    background-size: cover;
    background-attachment: fixed;
    
    justify-content: center;
    align-items: center;
    align-content: stretch;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

div.main_form {
    display: flex;
    background-color: hsla(0, 100%, 100%, .85);
    border-radius: 30px;
    width: 50vw;
    height: 60vh;
    padding: 10px 10px 10px 10px;
    column-gap: 10px;
}

.top_down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.div_part {
    width: 50%;
    height: 50%;
}


